/* ==== RESET CSS ==== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, cite, code, dfn, em, font, img, q, strong, tt, b, u, i, center, ol, ul, li, fieldset, form, label,legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;	background: transparent;}

/* ==== FONTS ==== */
@font-face{font-family: 'Ubuntu';	src: url('fonts/ubuntu/ubuntu-medium-webfont.eot');	src: url('fonts/ubuntu/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/ubuntu/ubuntu-medium-webfont.woff') format('woff'),url('fonts/ubuntu/ubuntu-medium-webfont.ttf') format('truetype'),url('fonts/ubuntu/ubuntu-medium-webfont.svg#webfont') format('svg');}

/* ====  COMMON STYLES - styles shared by both desktop/tablet/mobile ====  */

@media screen {

/* === GLOBAL === */
html{-webkit-text-size-adjust: none;}
body{font-family:"Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;color:rgb(68,68,68);font-size:100%;background: rgb(134,157,75) url('images/bg01.jpg') repeat-x;line-height: 1.3em;}
a:link {color:rgb(102, 91, 72);}
a:visited {color:rgb(140, 126, 91);}
a:active {color:rgb(102, 91, 72);outline: none;}
a:hover {color:rgb(168, 152, 116);outline: none;}
.group:after {content: ".";display: block;height: 0;clear:both;visibility:hidden;} /* Self-clearing floats */
label, input[type=button], input[type=submit], button {cursor: pointer;}

/* === BRANDING BAR=== */
#top{background:rgb(105,84,61) url('images/grad.png') repeat-x bottom left;height:3.625em;}
#flmnhlogo{float:left;padding:0.5em  0.9375em;}
#searchbox{float:right;padding:1em .3125em 1.2em .3125em;z-index:1;}
#uflogo{float:right;padding:0.75em  0.9375em 0.75em 0.625em;}
#query {position: relative; top: -0.25em;right:0;width:8.5em;height:1.75em;background: white url('images/search.png') right no-repeat;padding-right: 1.5em;}

/* === UNIVERSAL NAV === */
#masternav {font-family: Ubuntu, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;font-weight: 500;margin: 0 auto;max-width: 67em;padding: 0 0 1.25em 0;text-align:center;}
#topnav ul {width:100%;}
#topnav li {list-style: none;margin: 0 0 0 0; padding:0;position: relative;font-size:0.9em;display:inline;}
#topnav a {display:inline-block; margin-right:-0.5em;padding:0.375em 0.6em; color:rgb(255,255,255);border: 0.0625em solid rgb(48,109,29); background: rgb(75,124,42) url('images/btn_glass.png') repeat-x 0 50%;text-decoration:none;}
#topnav a:hover {background-color: rgb(52,76,0); border-bottom: 0.0625em solid rgb(52,76,0);} 
.megamenu {position: absolute;top: 1.75em; left: 0;z-index: 1000;font-weight: 400;	background: rgb(255,249,229);padding: 1.5em 0.5em 1.5em 2.5em;box-shadow: 0 0 0.5em rgb(51,51,51);-webkit-box-shadow: 0 0 0.5em rgb(51,51,51);-moz-box-shadow: 0 0 0.5em rgb(51,51,51);border-bottom-right-radius:0.9375em;-moz-border-radius-bottomright: 0.9375em;	-webkit-border-bottom-right-radius: 0.9375em;border-bottom-left-radius:0.9375em;-moz-border-radius-bottomleft: 0.9375em;-webkit-border-bottom-left-radius: 0.9375em;display: none; /*--Hidden for those with js turned off--*/}
.megamenu ul {margin: 0 0 0 1em;padding: 0 0 0 1em;float: left;border-left: 1px dotted rgb(105,84,61);white-space: nowrap;height:100%;vertical-align: top;}
.megamenu > ul:first-child {margin: 0;padding: 0;border-left: none;}
#masternav .megatitle {display:block;padding: 0; font-size: 1em;font-family:Cambria, Georgia, Palatino, “Times New Roman”, Times, serif;font-weight: bold;color: rgb(51,51,0);text-align:left;}
#masternav .megamenu li a {	background: rgb(255,249,229);padding: 0;	display: block;color: rgb(51,102,51);border: none;text-align:left;}
#masternav .megamenu a:hover {color: rgb(145,109,58); text-decoration: underline;}

/* === HEADER === */
#header{float:left;width:100%;background-color:rgb(105,84,61);border-top-left-radius:0.9375em; -webkit-border-top-left-radius:0.9375em; -moz-border-radius-topleft:0.9375em; border-top-right-radius:0.9375em; -webkit-border-top-right-radius:0.9375em; -moz-border-radius-topright:0.9375em;}
#header h1{background:rgb(105,84,61) url('images/grad.png') repeat-x bottom left;padding:0.4em;padding-left:1em;font-family: Cambria, Georgia, Palatino, “Times New Roman”, Times, serif;font-size:1.5em;border-top-left-radius:0.625em; -webkit-border-top-left-radius:0.625em; -moz-border-radius-topleft:0.625em; border-top-right-radius:0.625em; -webkit-border-top-right-radius:0.625em; -moz-border-radius-topright:0.625em;}
#header a:link {color:rgb(246,246,204);text-decoration: none;}
#header a:visited {color:rgb(246,246,204);text-decoration: none;}
#header a:active {color:rgb(246,246,204);text-decoration: none;}
#header a:hover {color:rgb(223,197,155);text-decoration: none;}
#headercycle { height: 12.5em; width: 100%; overflow: hidden;float:left;}
.overlay-caption-left {padding: 0.1875em 0.625em 0.1875em 0.625em;margin-bottom: -0.3125em;height: 1.875em;text-align: left;position: absolute;bottom: 0.3125em;left: 0;display: inline;cursor: pointer;background-color: #E3E3E3;color: #404040;font-size:90%;opacity: .7;border-top-right-radius: 0.3125em; border-bottom-right-radius: 0.3125em;-moz-border-radius-topright: 0.3125em; -moz-border-radius-bottomright: 0.3125em;-webkit-border-radius-topright: 0.3125em; -webkit-border-radius-bottomright: 0.3125em;}

/* === CONTENT CONTAINERS === */
#fronds{max-width:77.5em;margin: 0 auto;background-color:trasparent;background-image: url('images/fronds.png');background-position: -0.9em 2em;background-repeat:no-repeat;}
#wrap{max-width:58em;margin: 0 auto;padding-top:0.0625em;background-color: rgba(254,254,254,.25); border-radius:0.9375em; -webkit-border-radius:0.9375em; -moz-border-radius:0.9375em;z-index:2;}
#main{max-width:56em;background-color:rgb(246,244,206);margin:1.5625em;border-radius:0.9375em; -webkit-border-radius:0.9375em; -moz-border-radius:0.9375em;}

/* === CONTENT STYLES === */
#content{float:right;width:95%;margin:1em 1em 1em 2.5em;}
#content ul, ol {padding:0 0.5em;}
#content li {padding:0.375em 0;margin-left:0.5em;}
ul[role="navigation"] > li {padding:0;margin:0;} /* excludes navigation bars from previous style */
h2, h3, h4, h5 {margin:1em 0 1em -0.5em;font-family: Cambria, Georgia, Palatino, “Times New Roman”, Times, serif;color: rgb(51,51,0);color: rgba(51,51,0,.9);}
h2{font-size:1.4em;}
h3{font-size:1.2em;}
h4{font-size:1.0em;}
h5{font-size:0.8em;}
.indent{margin-left:1.25em;}
.smtxt{font-size:0.85em;}
.caption{font-size:0.9em;color:rgb(54, 111, 30);}
.class-title{font-size: 1.1em;font-weight: bold;}
.class-datetime{font-weight: bold;}
.historybig{font-size:140%;line-height:140%; rgb(166, 166, 149);font-weight:bold;} /* Dates on history page */
/* Use for all tables with pricing info */
.pricechart{width: 53em;text-align: left;border-collapse: collapse;font-size: 0.95em;} 
.pricechart a:link {color:rgb(68,68,68);}
.pricechart a:visited {color:rgb(89, 72, 73);}
.pricechart a:active {color:rgb(102, 91, 72);outline: none;}
.pricechart a:hover {color:rgb(102, 91, 72);outline: none;}
.pricechart th{font-size: 0.9em;vertical-align:bottom;padding: 8px;background: #A3B577;border-top: 1px solid #fff;border-bottom: 1px solid #fff;border-right: 1px solid #fff;	border-left: 1px solid #fff;}
.pricechart th.chartcorner{background: none;border-top:none;border-left:none;}
.pricechart td{padding: 0.5em;	text-align:center;background: #E2D5A0;border-bottom:1px solid #fff;border-right: 1px solid #fff;border-left: 1px solid #fff;border-top: 1px solid transparent;}
.pricechart td.left{	text-align:left;}
.pricechart tr:nth-child(even){background: #fff;}
.tablepadding td {padding: 0.4em;}
/* use for tables that display community and school tours */
.tourschart{width: 53em; text-align: left; border-collapse:collapse; font-size: 0.95em;}
.tourschart thead{background-color: #A3B577;}
.tourschart th{text-align: center;}
.tourschart th.tour_name{ width: 14em;}
.tourschart th.tour_availability{min-width:7.3em;}
.tourschart th.additional_chaperones{width:6em;}
.tourschart th{border-top: 1px solid #fff;border-bottom: 1px solid #fff;border-right: 1px solid #fff;border-left: 1px solid #fff;font-size: 0.9em;vertical-align:bottom;padding: 8px;background: #A3B577;}
.tourschart td{border-top: 1px solid #fff;border-bottom: 1px solid #fff;border-right: 1px solid #fff;border-left: 1px solid #fff;padding: 0.5em;text-align:center;}
.tourschart td.left{text-align:left;}
.tourschart tbody{background: #E2D5A0;}
.tourschart tbody:nth-child(even){background: #E2E2B3;}
.tablepadding td {padding: 0.4em;}

/* ===  SHOW/HIDE TOGGLE === */
.triggercontainer{margin-left:1em;margin-bottom:12em;}
p.trigger {padding: 0 0 0 2.1875em;margin: 0 0 0.3125em 0;	background: url('images/show-hide-buttons-grn.png') no-repeat;	height: 2.875em;line-height: 2.875em;width: 100%;font-size: 1.1em;float: left;}
p.trigger a {color: rgb(51,51,0);text-decoration: none;	display: block;}
p.trigger a:hover { color: rgb(168, 152, 116); }
p.toggle_active {background-position: left bottom;}
.toggle_container {margin: 0 0 0.3125em;padding: 0;	border-top: 1px solid rgb(214,214,214);	background:rgb(255,254,233);overflow: hidden;font-size: 1em;width: 95%;clear: both;}
.toggle_container .block {padding: 0.3125em 0.625em 0.625em 0.625em;}

/* === SUBNAVIGATION SLIDEMENU === */
#subnavigation{float:right;margin-top:1em;margin-right:-1.3em;margin-bottom:0.25em;padding-left:1.25em;font: bold 0.8125em Tahoma, "Trebuchet MS",  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif; overflow: hidden; width: 16.2em;}
#subnavigation li {padding:0;}
.slidemenu, .slidemenu ul {list-style-type:none;padding: 0;margin: 0;width: 16.5em;line-height: 1.5em;}
.slidemenu a {display: block;text-decoration: none;}
.slidemenu li {margin-top: 1px;padding-bottom:0;}
.slidemenu li a {background:rgb(105,84,61) url('images/grad.png') repeat-x bottom left;color:rgb(246,246,204);padding: 0.5em;}
.slidemenu li a:hover {background: rgb(105,84,61);} 
.slidemenu>li:first-child>a {border-top-left-radius:0.9375em; -webkit-border-top-left-radius:0.9375em; -moz-border-radius-topleft:0.9375em;}
.slidemenu>li:first-child>a:before {content: url('images/home_icon.png');}
.roundbottom {border-bottom-left-radius:0.9375em; -webkit-border-bottom-left-radius:0.9375em; -moz-border-radius-bottomleft:0.9375em;}
.slidelevel02 li {margin-left:-0.2em;}
.slidelevel02 li {margin-right:1em;} 
.slidelevel02 li a {background: rgb(174,154,121);color: rgb(51,51,34);border-left: 0.3125em solid rgb(174,154,121);padding-left: 1em;}
.slidelevel02 li a:hover {background: rgb(223,197,155);color: rgb(51,51,34);border-left: 0.3125em solid rgb(34,60,19);}
.slidelevel03 li a {background: rgb(223,197,155);color: rgb(51,51,34);border-left: 0.3125em solid rgb(174,154,121);padding-left: 1em;}
.slidelevel03 li a:hover {background: rgb(255,226,181);color: rgb(51,51,34);border-left: 0.3125em solid rgb(34,60,19);}

/* === HIDDEN SIDEMENU styles === */
#hiddenmenu-tab {background: #69543D url('images/grad.png') repeat-x bottom left;width: 2em;height: 6.5em;float: right;position:relative;right:-1em;border-top-left-radius: 0.5em;border-bottom-left-radius: 0.5em;-moz-border-radius-topleft: 0.5em;-moz-border-radius-bottomleft: 0.5em;z-index: 20;}
#hiddenmenu-tab p {margin: 0.5em 0.5em; color: rgb(248,240,227);}

/* === FOOTER styles === */
#footer{float:left;width:100%;background:rgb(105,84,61) url('images/grad_footer.png') repeat-x bottom left;margin-top:1em;text-align: center;padding-bottom:0.5em;padding-top:1em;color:rgb(250,250,250);border:0; border-bottom-left-radius:0.9375em; -webkit-border-bottom-left-radius:0.9375em; -moz-border-radius-bottomleft:0.9375em; border-bottom-right-radius:0.9375em; -webkit-border-bottom-right-radius:0.9375em; -moz-border-radius-bottomright:0.9375em;}
#footer .address {width:100%;font-size:0.9em;}
#footer .legal {width:100%;font-size:0.7em;}
#social{background: transparent; height:1.375em; padding: 0 0 0.5em 0;width:12.5em;margin:0 auto;}
#socialicons{width: 8.9em;height: 1.375em;margin: 0 auto;list-style: none; }   
#socialicons li{display: inline; } 
#socialicons li a{height: 1.375em;float: left;text-indent: -9999em;}
#social-fb a{ width: 1.775em; background: url('images/social_sprite.png') no-repeat 0 0;}
#social-tw a{ width: 1.775em; background: url('images/social_sprite.png') no-repeat -1.775em 0;} 
#social-ig a{ width: 1.775em; background: url('images/social_sprite.png') no-repeat -3.55em 0;} 
#social-pn a{ width: 1.775em; background: url('images/social_sprite.png') no-repeat -5.325em 0;} 
#social-yt a{ width: 1.775em; background: url('images/social_sprite.png') no-repeat -7.1em 0;} 
#footer a:link {color:rgb(179,161,116);}
#footer a:visited {color:rgb(217,195,141);}
#footer a:active {color:rgb(179,161,116);}
#footer a:hover {color:rgb(197, 178, 136);}

/* === ACCESSIBILITY styles === */
/* Show option to skip master menu when navigating with a keyboard */
#skip a {position:absolute;left:-1000em;top:auto;width:0.0625em;height:0.0625em;overflow:hidden;}
#skip a:link {color:rgb(255,255,255);}
#skip a:visited {color:rgb(255,255,255);}
#skip a:active {color:rgb(255,255,255);}
#skip a:hover {color:rgb(255,255,255);}
#skip a:focus{position:static;width:auto;height:auto;} 

/* ===  DOWNLOAD ICONS === */
/* Automatically adds an icon next to selected types of linked files */
a[href$='.doc'], a[href$='.docx'] {padding: 0.3125em 1.25em 0.3125em 0;background: transparent url('icons/icon_doc.gif') no-repeat center right;}
a[href$='.pdf'] {padding: 0.3125em 1.25em 0.3125em 0;background: transparent url('icons/icon_pdf.gif') no-repeat center right;}
a[href$='.zip'], a[href$='.rar'], a[href$='.gzip'], a[href$='.bzip'], a[href$='.ace'] {padding: 0.3125em 1.25em 0.3125em 0;background: transparent url('icons/icon_archive.gif') no-repeat center right;}
a[href$='.xls'], a[href$='.xlsx'] {padding: 0.3125em 1.25em 0.3125em 0;;background: transparent url('icons/icon_xls.gif') no-repeat center right;}
a[href$='.ppt'], a[href$='.pptx'], a[href$='.pps'], a[href$='.ppsx'] {padding: 0.3125em 1.25em 0.3125em 0;background: transparent url('icons/icon_pps.gif') no-repeat center right;}
a[href$='.mp3'], a[href$='.wav'], a[href$='.ogg'], a[href$='.wma'], a[href$='.m4a'] { padding: 0.3125em 1.25em 0.3125em 0;background: transparent url('icons/icon_music.gif') no-repeat center right;}
/* make sure images won't get iconized */
img {padding-right: 0em !important;background: none !important;}

/* === DELUXE IMAGE GALLERY OVERRIDES === */
.deluxe_image_gallery_container {max-width: 37em;} /* forces gallery to stay left of sidemenu */
.deluxe_image_gallery_image p {font-size:85%;}  /* reduces caption size */

/* === jQuery Lightbox styles == */
/* @version 0.5 @copyright (c) 2008 Leandro Vieira Pinho @license CCAttribution-ShareAlike 2.5 Brazil - http://creativecommons.org/licenses/by-sa/2.5/br/deed.en_US */
#jquery-overlay {position: absolute;	top: 0;left:0;	z-index: 90;width:100%;height:31.25em;}
#jquery-lightbox {	position: absolute;top: 0;left: 0;width: 100%;z-index: 100;text-align: center;line-height: 0;}
#jquery-lightbox a img {border: none; }
#lightbox-container-image-box {position: relative;background-color:rgb(255,255,255);width: 15.625em;height: 15.625em;	margin: 0 auto;}
#lightbox-container-image {padding: 0.625em;}
#lightbox-loading {position: absolute;top: 40%;left: 0%;height: 25%;width: 100%;text-align: center;line-height: 0;}
#lightbox-nav {position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 10;}
#lightbox-container-image-box > #lightbox-nav {left: 0; }
#lightbox-nav a {outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {width: 49%;height: 100%;zoom: 1;display: block;}
#lightbox-nav-btnPrev {left: 0;float: left;}
#lightbox-nav-btnNext {right: 0;float: right;}
#lightbox-container-image-data-box {font: 0.75em Verdana, Helvetica, sans-serif;background-color:rgb(255,255,255);margin: 0 auto;line-height: 1.4em;	overflow: auto;	width: 100%;padding: 0 10px 0;}
#lightbox-container-image-data {	padding: 0 0.625em; color: rgb(102,102,102);}
#lightbox-container-image-data #lightbox-image-details {width: 70%;float: left;text-align: left;}	
#lightbox-image-details-caption {font-weight: bold; }
#lightbox-image-details-currentNumber {display: block;clear: left;padding-bottom: 1.0em;}			
#lightbox-secNav-btnClose {width: 5em;float: right;padding-bottom: 0.7em;}
/* For galleries that are not in the slider carousel but do use the lightbox javascript */
#lightbox-group-noslider{width:42em;}
.lbox {width:9.375em;height:12.5emx;float:left;margin:0.9375em 1.25em 0.3125em 0.9375em;font-size:90%;}

/* === jQuery Flexslider styles == */
 /* jQuery FlexSlider v1.8 | | Copyright 2011, Tyler Smith | Free to use under the MIT license. | http://www.opensource.org/licenses/mit-license.php */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides, .homeslides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 
/* FlexSlider Necessary Styles*/ 
.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}
/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;height: 1%;} 
/* FlexSlider Default Theme */
#flex-container .flexslider {background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 0.3125em; -moz-border-radius: 0.3125em; -o-border-radius: 0.3125em; border-radius: 0.3125em; zoom: 1;}
#flex-container .flexslider .slides {zoom: 1;}
#flex-container .flexslider .slides > li {position: relative;}
#flex-container {zoom: 1; position: relative;margin:1.5em 0 2em 1.75em;padding:0;}
#flex-container ul, ol {padding:0.5em;}
#flex-container li {padding:0;margin-left:0;}
/* Caption style with IE rgba() hack */
#flex-container, .flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
#flex-container .flex-caption {font-family:ubuntu; width: 96%; padding: 2%; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.5); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 1em; line-height:1.5em;}
/* Direction Nav */
/*#flex-container .flex-direction-nav li a {width: 52px; height: 52px; margin: -13px 0 0; display: block; background: url('images/jqflexslider/bg_direction_nav.png') no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999em;}*/
#flex-container .flex-direction-nav li .next {background-position: -52px 0; right: -21px;}
#flex-container .flex-direction-nav li .prev {left: -20px;}
#flex-container .flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}
/* Control Nav */
#flex-container .flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
#flex-container .flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
#flex-container .flex-control-nav li:first-child {margin: 0;}
/*#flex-container .flex-control-nav li a {width: 13px; height: 13px; display: block; background: url('images/jqflexslider/bg_control_nav.png') no-repeat 0 0; cursor: pointer; text-indent: -9999px;}*/
#flex-container .flex-control-nav li a:hover {background-position: 0 -13px;}
#flex-container .flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}

} /* End @media screen  MQ */


/*  ==== MEDIA QUERY ~ TABLET PORTRAIT (2-col to 1 col on homepage, reduce branding bar) ====  */

@media only screen and (max-width: 800px) {

/* == GLOBAL == */
body{background-color: rgb(134,157,75);}

/* == BRANDING BAR == */
#top{background:rgb(105,84,61) url('images/grad.png') repeat-x bottom left;height:2.625em;}
#flmnhlogo{float:left;padding:0.5em  0.5em;}
#flmnhlogo img {height:1.625em;}
#searchbox{float:right;padding:1em 0 0em .3125em;z-index:1;}
#query {position: relative; top: -0.5em;right:0;width:7.5em;height:1.25em;} 
#uflogo{float:right;padding:0.5em  0.5em 0em 0.625em;}
#uflogo img {height:1.625em;}

/* === UNIVERSAL NAV === */
#masternav{margin:-1em 0;}

/* == CONTENT CONTAINERS == */
#fronds{background:none;width:100%;}
#wrap{width:100%;}
#main{width:100%;margin:0;background-color:rgb(246,244,206);}

/* == CONTENT STYLES == */
h2, h3, h4, h5 {margin:0 0 1em 0;}

/* === SUBNAVIGATION SLIDEMENU styles === */
#subnavigation{float:right;margin-right:-1.8em;padding-left:1.25em;font: bold 0.8125em Tahoma, "Helvetica Nue", Helvetica, Arial, sans-serif;}
#subnavigation li {padding:0;}
.slidemenu, .slidemenu ul {float:right;list-style-type:none;padding: 0;margin: 0;width: 12.5em;line-height: 1.5em;}

}  /* End 800px MQ


/*  ==== MEDIA QUERY ~ MOBILE LANDSCAPE styles (search box drops below branding bar) ====  */

@media only screen and (max-width: 520px) {

/* === HEADER === */
#header{float:left;width:100%;background-color:rgb(105,84,61);}
h1{background:rgb(105,84,61) url('images/grad.png') repeat-x bottom left;padding:0.4em;padding-left:0.5em;font-size:1.25em;}
#headercycle {display:none;}

/* === BRANDING BAR === */
#top{background:rgb(105,84,61) url('images/grad.png') repeat-x bottom left;height:2.625em;}
#flmnhlogo{float:left;padding:0.5em  0.5em;}
#uflogo{float:right;padding:0.5em  0.5em 0.25em 0.5em;}
#searchbox{float:right;width:100%;padding:0.5em 0 0 0.5em;z-index:1;}
#query {position: relative; top: -0.5em;left:0.5em;width:90%;}

/* === SUBNAVIGATION SLIDEMENU === */
#subnavigation{float:right;margin-right:-0.25em;padding-left:1.25em;font: bold 0.6em Tahoma, "Helvetica Nue", Helvetica, Arial, sans-serif;}
#subnavigation li {padding:0;}
.slidemenu, .slidemenu ul {float:right;list-style-type:none;padding: 0;margin: 0;width: 9em;line-height: 1.5em;}

/* === UNIVERSAL NAV === */
#masternav{margin:0;width:100%;padding: 0 0 0.5em 0;}
#topnav li {font-size:0.78em;}
#topnav a {margin-right:-0.5em;padding:0.2em 0.5em;}

/* == CONTENT styles == */
#main{font-size:80%:}
h2, h3, h4, h5 {margin:0.5em 0 0.5em 0;font-size:90%:}
#content{float:right;width:97%;margin:0;}

/* === jQuery FLEXSLIDER === */
#flex-container .flexslider {background: none; border:none;width:90%;float:right;margin:0 auto 0.625em auto;padding:0.75em; zoom: 1;}
#flex-container .flex-caption {font-size: 0.8em; line-height: 1.125em;}
#flex-container .flexslider {background: none;width:100%;}
#flex-container {zoom: 1; position: relative;margin:0.5em 0 0 0.75em;padding:0;}
#flex-container ul, ol {padding:0.5em;}
#flex-container li {padding:0;margin-left:0;}
#flex-container .flex-control-nav {position: absolute; bottom: -10px; text-align: center;}
#flex-container .flex-direction-nav li a {display:none;}
#flex-container .flex-direction-nav li .next {display:none;}
#flex-container .flex-direction-nav li .prev {display:none;}
#flex-container .flex-direction-nav li .disabled {display:none;}

}  /* End 520px MQ


/*  ==== MEDIA QUERY ~ MOBILE PORTRAIT styles (adjustments for smallest width)====  */
 
@media only screen and (max-width: 480px) {

/* == BRANDING BAR == */
#top{height:2.2em;}
#flmnhlogo img {height:1.2em;}
#uflogo img {height:1.2em;}
#query{width:85%;}

/* === UNIVERSAL NAV styles === */
#topnav li {font-size:0.6em;}

/* === CONTENT styles === */
#main{font-size:90%;}

/* === jQuery Flexslider styles === */
#flex-container .flex-caption {font-size: 0.7em; line-height: 1.125em;}

/* === FOOTER styles === */
#footer .address {;font-size:0.75em;line-height:1.5em;}
#footer .legal {font-size:0.6em;line-height:1.25em;}

}  /* End 320px MQ



/* ====  PRINT STYLES  ====  */

@media print {

/* === GLOBAL === */
body{font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;color:rgb(0,0,0);font-size:100%;line-height: 1.3em;}
a:link {color:rgb(145,145,36);}
a:visited {color:rgb(145,145,36);}
a:active {color:rgb(145,145,36);}
a:hover {color:rgb(184,184,46);}
.group:after {content: " ";display: block;height: 0;clear:both;visibility:hidden;}

/* === BRANDING BAR === */
#top{border:0; padding:0;}
#flmnhlogo img{float:left;border:0;}
#flmnhlogo a{text-decoration:none;}
#searchbox{display:none;}
#uflogo{display:none;}

/* === UNIVERSAL NAV === */
#masternav {display:none;}
#topnav {display:none;}
.megamenu {display:none;}

/* === HEADER === */
#header{float:left;width:100%;}
h1{padding:2em 0 1em 0;margin-top:-1em;font-family: Cambria, Georgia, Palatino, “Times New Roman”, Times, serif;font-size:1.5em;color:rgb(51,51,0,);}
h1 a {text-decoration: none;}
#headercycle {display:none;}

/* === SUBNAVIGATION  === */
#subnavigation{display:none;}
.slidemenu {display:none;}
.slidelevel02 {display:none;}

/* === CONTENT CONTAINERS === */
#wrap{width:100%;}
#main{width:100%;}

/* === CONTENT STYLES === */
#content{width:100%;}
#content ul, ol {padding:0 0.5em;}
#content li {padding:0.375em 0;margin-left:0.5em}
h2, h3, h4, h5 {margin:1em 0;font-family: Cambria, Georgia, Palatino, “Times New Roman”, Times, serif;color:rgb(51,51,0,);color:rgba(51,51,0,.9);}
h2{font-size:1.2em;}
h3{font-size:1.1em;}
h4{font-size:1.0em;}
h5{font-size:0.9em;}
.indent{margin-left:1.25em;}
.smtxt{font-size:0.85em;}

/* === ACCESSIBILITY === */
#skip {display:none;}

/* === FLEXSLIDER STYLES === */
#flex-container {display:none;}

/* === FOOTER  === */
#footer{width:100%;margin-top:1em;text-align: center;padding-bottom:0.5em;padding-top:1em;border-top:0.0625em solid #ccc;}
#footer .address {width:100%;font-size:0.75em;color:rgb(51,51,0,);}
#footer .legal {display:none;}
#social{display:none;}


}  /* End print styles */